<script src="/stylesheets/js/jquery-3.3.1.min.js"></script>
<script src="/stylesheets/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.6.1/js/all.js"></script>
<!-- <script>
    // Add active class to the current button (highlight it)
    var header = $(".navbar");
    var btns = $(".nav-link");
    console.log(btns);
    for (var i = 0; i < btns.length; i++) {
        btns[i].on("click", function () {
            var current = $(".active");
            console.log("current is",current);
            
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }
            this.className += " active";
        });
    }
</script> -->

</body>
    </html>