<%- include('partials/header.ejs') %>

<div class="container" id="top-padding">
    <h2 style="text-align: center; margin-top: 10px;">Find your Movie here</h2>
    <div id="width-changer">
        <form action="/movies" method="POST">
            <div class="form-group">
                <label for="movie[name]">Name of the movie *</label>
                <input class="form-control" type="text" name="movie[name]" placeholder="Enter name" autofocus required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="movie[release]">Year of Release</label>
                <input class="form-control" type="text" name="movie[year]" placeholder="Year of Release" autocomplete="off" >
            </div>
            <div class="form-group">
                <label for="movie[type]">Type </label>
                <input class="form-control" type="text" name="movie[type]"  placeholder="Ex- movie,series ..."  autocomplete="off">
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Search</button>
            </div>
        </form>
        <hr>
        <a href="/">Go Back!</a>
        <hr>

    </div>
</div>



<%- include('partials/footer.ejs') %>