<%- include('partials/header.ejs') %>

<!-- <h1>Welocme to Movie DB</h1>
<a href="/movies" class="btn btn-warning"> Enter Here </a> -->

<div id="demo" class="carousel slide" data-ride="carousel" data-interval="7000">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item ">
            <img src="https://images.unsplash.com/photo-1542690969-5a2050285637?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="Los Angeles" >
            
        </div>
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1541332246502-2e99eaa96cc1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                alt="Chicago">
                <div class="carousel-caption text-center">
                    <h1>Wecome To Movie DB</h1>
                    <a class="btn btn-outline-light btn-lg" href="/movies">Let's Dive</a>
                </div>
        </div>
        <div class="carousel-item ">
            <img src="https://images.unsplash.com/photo-1541727687969-ce40493cd847?ixlib=rb-1.2.1&auto=format&fit=crop&w=969&q=80"
                alt="New York" >
                
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<%- include('partials/footer.ejs') %>