@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

.active {
    color: red !important;
}

#top-padding {
    margin-top: 40px;
}

#width-changer {
    /* width:40%; */
    margin: 15px 20%;
}

#Font-change {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    color: black;
}

.navbar {
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.8) !important;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-brand {
    padding-left: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

/* Trying for hover effect */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3 !important;
}

/* a:hover {
    color:#1ebba3 !important;;
} */

.carousel-item img {
    width: 100%;
    height: 91.9vh;
    margin-top: 0;
}



.carousel-caption {
    position: absolute;
    top: 38%;
    /* text-transform: uppercase; */
    width: 100%;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;

}

.alert {
    margin-top: 3px;
}

#watchedlist{
    color: white;
    margin-bottom:5px;
}


@media only screen and (max-width: 600px) {
   #width-changer{
       width: 100%;
       margin: 15px auto;
   }

   .carousel-caption h1 {
       font-size: 1rem;
       letter-spacing: .11rem;
       padding-bottom: .3rem;

   }

   .btn-lg {
       font-size: .8rem;
   }
   #watchedlist {
       font-size: large;
   }
}

@media (max-width: 767px) {

     #width-changer {
         width: 100%;
         margin: 15px auto;
     }

    .carousel-caption h1 {
        font-size: 2rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;

    }

    .btn-lg {
        font-size: .7rem;
    }

    #content-pad{
        margin-top: 20px;
    }
    

}

.icons {
      margin-top: 1rem;
  }

.icons a {
      padding: 0.4rem;
      color : #fff;
  }


  .icons a:hover {
      color: yellow;
      transition: all 0.5s ease-out;
  }



  /* backgrounds */
.bg-img {
      background: url(./background.jpg) ;
      background-attachment: fixed;
      background-size: cover;
  }

  .bg-img {
      color: #fff;
      height: 100%;
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.5;
  }

  body.bg-img:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9);
  }

  .bg-img-login {
      background: url(./login.jpeg);
      background-attachment: fixed;
      background-size: cover;
  }



  body.bg-img-login:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9);
  }

  .bg-img-signup {
      background: url(./signup.jpeg);
      background-attachment: fixed;
      background-size: cover;
  }



  body.bg-img-signup:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.9);
  }

  .bg-img-search {
      background: url(./moviepage.jpeg);
      background-attachment: fixed;
      background-size: cover;
  }



  body.bg-img-search:after {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(68, 68, 68, 0.6);
  }

   .bg-img-watched {
       background: url(./watchedlist.jpeg);
       background-attachment: fixed;
       background-size: cover;
   }



   body.bg-img-watched:after {
       content: '';
       position: fixed;
       top: 0;
       right: 0;
       width: 100%;
       height: 100%;
       z-index: -1;
       background: rgba(68, 68, 68, 0.6);
   }

    .bg-img-movieinfo {
        background: url(./movieinfo.jpeg);
        background-attachment: fixed;
        background-size: cover;
    }



    body.bg-img-movieinfo:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(68, 68, 68, 0.9);
    }


      body:after {
          content: '';
          position: fixed;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: rgba(68, 68, 68, 0.6);
      }

        /* backgrounds */